#backgroud{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: 5px;
}
#header1{
    clear:both;
    margin-top: 0.3cm;
    margin-left:1px;
    margin-right: 1px;
}
#clock1{
    float: left;
    margin-left: 0.2cm;
    margin-top: 0.6cm;
}
#user1{
    float: right;
}
/* #mydiv { background-color: #ddd; } */
#user2{
    width: 40px;
    height: 40px;
    margin-right: 0.2cm;
}
#line1{
    margin-left: 5mm;
    margin-top: 0.1cm;
}
.imgless{
    width: 100px;
    height: 100px;
    margin-right: 1cm;
    text-align: center;
}
.imgless img {
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}
.imgless img:hover {
    transform: scale(1.2);
}
#box{
    /* border: white;
    background-color: white;
    filter:blur(5px); */
    height: 800px;
    position: relative;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #000; 
}
.box:before{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url("./image/backgroud.jpg");
    background-attachment: fixed;
    filter: blur(5px);
}
#application{
    text-align: center;
}
#vnclock{
    font-weight:bold;
    text-align:center;
    font-size:20px;
    padding:10px;
    color:black;
    box-shadow:inset 0 0 1px rgba(0,0,0,.08), 0 0 5px rgba(255, 165, 0, 0.5);
}
ul li:hover{
    transition: 0.3s;
}
.cap_2 {
    background-color: transparent;
    position: static;
    display: none;
}
ul.cap_2 li {
    display: block;
    padding: 0;
    cursor: pointer;
}
ul.cap_2 li:last-child {
    border: none;
}
li:hover ul.cap_2 {
    display: block;
}
#nav{
    float: right;
}
/* .cap_3 {
    background-color: transparent;
    position: static;
    display: none;
}
ul.cap_3 li {
    display: block;
    padding: 0;
    cursor: pointer;
    margin-right: 2cm;
}
ul.cap_3 li:last-child {
    border: none;
}
ul.cap_3 li:last-child {
    border: none;
} */
li{
    position: relative;
    list-style-type: none;
}
#login{
    margin-top: 5cm;
}
#texttt{
    font-size: 17px;
    font-weight: bold;
}
#forgotpass{
    color: deepskyblue;
}
a:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
}
#fooder{
    margin-top: 14cm;
    text-align: center;
}